.App {
  text-align: center;
}

/* .App-header {
  background-color: #4b9cd3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* App.css */
.navbar {
  background-color: #4b9cd3;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .burger-menu {
    display: block;
  }
}
